<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<form th:method="POST" th:action="@{/book/search}">
    <label for="query">Введите поисковой запрос: </label>
    <input type="text" id="query" name="query"/>
    <br/>
    <input type="submit" value="Искать">
</form>

<div th:if="${book.isEmpty()}">
    <br>
    <span>Книг не найдено</span>
</div>

<div th:if="${book}">
    <div th:each="findedBook : ${book}">
        <p th:text="${findedBook.getBookName() + ', ' + findedBook.getAuthor() + ', ' + findedBook.getBookYear()}">
            book</p>

        <div th:if="${findedBook.getOwner() != null}">
            <span>Книга сейчас у: </span> <span th:text="${findedBook.getOwner().getPersonName()}">person</span>
        </div>

        <div th:if="${findedBook.getOwner() == null}">
            <span>Книга свободна</span>
        </div>
        <hr/>
    </div>
</div>

</body>
</html>