<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление новой книги</title>
</head>
<body>
    <form th:method="POST" th:action="@{/book}" th:object="${book}">
        <label for="bookName">Введите название книги:</label>
        <input type="text" th:field="*{bookName}" id="bookName">
        <div style="color: red" th:if="${#fields.hasErrors('bookName')}" th:errors="*{bookName}">some error</div>
        <br/>
        <label for="author">Введите автора:</label>
        <input type="text" th:field="*{author}" id="author">
        <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">some error</div>
        <br/>
        <label for="bookYear">Введите год:</label>
        <input type="text" th:field="*{bookYear}" id="bookYear">
        <div style="color: red" th:if="${#fields.hasErrors('bookYear')}" th:errors="*{bookYear}">some error</div>
        <br/>
        <input type="submit" value="Создать!">
    </form>
</body>
</html>